* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#head{
    background-color: grey;
    color: blue;
}

.h2{
    color: red;
    border: 1px solid black;
    background-color: aqua;
}